@charset 'UTF-8';

$topHeight: 45px;
$leftWidth: 200px;
$primary: #23bab5;
$primaryActive: #13aba6;

@import "reset";
@import "base";
@import "element-ui-extend";

.text-primary {
    color: $primary;
}

.table>tbody>tr>td{
	vertical-align: middle;
}

* {
    padding: 0;
    margin: 0;
}

/*top*/
.top-container{
    width: 100%;
    height: $topHeight;
    line-height: $topHeight;
    background: $primary;
    padding-left: 25px;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 15;
}
.top-container h3{
    float:left;
    color:#fff;
    font-size:18px;
    line-height: 43px;
}
.top-container>ul{
    float:left;
    margin-left:100px;
}
.top-container ul li{
    float:left;
}   
.top-container ul li:hover{
    background:$primaryActive;
}
.top-container ul li a{
    display: block;
    width: 100%;
    height: 100%;
    padding:0px 15px;
    color:#fff;
}
.top-container ul li.active{
    background:$primaryActive;
}
.top-container ul li:hover a,.top-container ul li.active a{
    color: #fff;
}

.top_right{
    float: right;
}
.top_right a{
    color: #fff;
    display: block;
}
.top_right .message{
    float:left;
    cursor: pointer;    
    vertical-align: middle;
    margin-right: 3px;
}
.top_right .message a{
    display: block;
    padding:0px 10px;
}
.top_right .message span.badge{
     padding: 3px 5px;
    border-radius:4px;
    background: #ff861f;
}
.top_right .message:hover,.top_right .user:hover{
    display:inline-block;
    background:$primaryActive;
}
.top_right .message:hover a , .top_right .user:hover b,.top_right .user:hover i{
    color: #fff;
}

.top_right .user{
    float:left;
    position: relative;
}
.top_right .user a{
    display: block;
    padding:0px 10px;
}
.top_right .user b{
      font-weight: normal;
}
.top_right .user-mess{
    width:100px;
    position: absolute;
    top:45px;
    right:0px;
    background: #fff;
    display: none;
    -moz-border-radius: 5px; /* Firefox  */
    -webkit-border-radius: 5px; /* Safari �� Chrome */
    border-radius: 5px; /* Opera 10.5+, 篁ュ�篏睡���IE-CSS3��IE羌頵��� */ 
    -moz-box-shadow: 0px 0px 2px #CCC; /* Firefox */
    -webkit-box-shadow: 0px 0px 2px #CCC; /* Safari �� Chrome */
    box-shadow: 0px 0px 5px #CCC; /* Opera 10.5+, 篁ュ�篏睡���IE-CSS3��IE羌頵��� */
}
.user:hover .user-mess{
    display:block;
}
.top_right .user-mess a{
    padding:0px 20px;
    display:block;
    line-height:34px;
    border-bottom:1px solid #d8dce5;
    color:#333;
}   
.top_right .user-mess a:hover{
    color: white;
    background: $primaryActive;
    text-decoration: none;
}


/*nav-left*/
.left-box ,.left-box-fold{
	height:100%;
    overflow: auto;
	background: #2f4050;   
	position:fixed;
    padding-top: $topHeight;
    padding-bottom: 40px;
    top: 0;
	left: 0;
	z-index:7;
}
.left-box-width{
    width: $leftWidth;
}
.left-box-fold-width{
    width:50px;
}
.nav-fold{
    position: fixed;
    left:167px;
    bottom:150px;
    line-height: 50px;
    -moz-border-top-right-radius: 6px; 
    -webkit-border-top-right-radius: 6px; 
    border-top-right-radius: 6px; 
    -moz-border-bottom-right-radius: 6px; 
    -webkit-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px; 
    width:13px;
    height:50px;
    cursor: pointer;
    border:1px solid #ccc;
    border-left-width: 0px;
	text-align:center;
}
.nav-open{
    position: fixed;
    left:48px;
    bottom:150px;
    line-height: 50px;
    -moz-border-top-right-radius: 6px; 
    -webkit-border-top-right-radius: 6px; 
    border-top-right-radius: 6px; 
    -moz-border-bottom-right-radius: 6px; 
    -webkit-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px; 
    width:13px;
    height:50px;
    cursor: pointer;
    border:1px solid #ccc;
    border-left-width: 0px;
	text-align:center;
}
.left-box .fa{
	font-size: 16px;
}
.left-box a{
	color: #333;
}

/*2 ji*/
.nav-left ul li{
	min-height:38px;
	overflow: hidden;
	line-height:38px;
	cursor:pointer;
	position: relative;
}
.nav-left ul li a{
	display: block;
	padding-left: 15px;
	padding-right: 17px;
}

.nav-left ul li i{
	margin-right:13px;
}

.nav-left ul>li.active{
	background: #263340;
}


/*3 ji*/
.nav-left ul ol{
	display:none;
    background: #ededed;
}
.nav-left ul ol li a{
	display: block;
	height: 100%;
	width: 100%;
	padding-left:20px;
	padding-right:17px;
    color: #333;
}
.nav-left ul ol li a:hover{
	// background:#293038;
}

.nav-left ul li a.active{
	// background: $primary !important;
	color: $primary;
}
.nav-left ul li a.link:hover {
    // color: #fff;
    // background:#293038;
}



/*breadcrumb*/
.location{
	width:100%;
	position: fixed;
	top: $topHeight;
	padding-left: $leftWidth;
	z-index:6;
}
.location .breadcrumb{
	height: 40px;
	line-height:24px;
	border-bottom: #d8dce5 1px solid;
	border-left: #d8dce5 1px solid;
	border-radius:0px;
	background: #e6ecf0;
}
.location .breadcrumb li a{
	color:#3083eb;
	cursor: text;
}
.breadcrumb > .active {
    color: #333;
}

.operate_btn{
	position: fixed;
	top:51px;
	right:20px;
    z-index:8;
}
.operate_btn .btn{
	font-size: 13px;
	padding:4px 12px;
}


/*content*/
.content-main{
	padding: $topHeight+14 10px 55px $leftWidth+15;
	border-top: 1px solid transparent;
}

.search-box{
	background: #f8f8f8;
	border:1px solid #d8dce5;
	padding:10px 12px 0;
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius:8px;
    margin-bottom: 25px;
}
.search-box .form-inline .one-line{
	max-width: 90%;
	display: inline-block;
}
.search-box .form-inline .multi-line{
	max-width: 75%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	max-height: 44px;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s; /* Opera */
}

.search-box .form-inline .multi-line.heihtAuto{
	max-height: 150px;
}
.search-box .form-inline .form-control{
	margin-bottom: 10px;
}
.search-box .form-inline a.btn{
	margin-bottom: 10px;
}
.search-box input[type=text]{
	width: 170px;
}
.search-box select{
	min-width:170px;
}
.w200{
	width: 200px !important;
}
.search-box #search-more{
	margin-right: 20px;
	vertical-align: top;
	line-height: 30px;
}
.search-box #search-more:hover{
	text-decoration: underline;
}

// 404
.middle-box {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 40px;
    z-index: 100;
    color: #676a6c;
}
.middle-box h1 {
    font-size: 170px;
    font-weight: 100;
}
.middle-box h3{
    font-size: 16px;
    margin:5px 0 10px ;
}
.font-bold {
    font-weight: bold;
}


/*home*/
h3.welcome {
    text-align: center;
    margin-bottom: 40px;
}
.ibox:after,.ibox:before {
	display: table
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    // margin-top: 0;
    // padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    border: 1px solid #d3dce6;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.ibox-title {
	// background-color: #fff;
	// border-top:4px solid #e7eaec;
	// margin-bottom: 0;
	// padding: 14px 15px 7px;
	// min-height: 48px;
	// font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    color: #444;
}
// .ibox-title h5 {
// 	display: inline-block;
// 	font-size: 14px;
// 	margin: 0 0 7px;
// 	padding: 0;
// 	text-overflow: ellipsis;
// 	float: left;
// 	font-weight: bold;
// 	color: #676a6c;
// }

.ibox-content {
	// background-color: #fff;
	// color: inherit;
	// padding: 20px 20px;
	// border-top:1px solid  #e7eaec;
	// color: #676a6c;
    padding:20px;
}



.max-width {
    max-width: 1200px;
}

.control-label {
    vertical-align: middle;
    padding-top: 8px;
}

.chars-6 {
    width: 105px;
}

.help-block {
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 13px;
    line-height: 1;
}

.input-m {
    width: 300px;
}
.input-xs {
    width: 80px;
}

.validation {
    padding-top: 9px;
    position: relative;
    z-index: 10;
    background: transparent;

    i {
        font-size: 16px;
        margin-left: -44px;
        margin-right: 20px;
    }

    .success {
        color: #13CE66;
    }
    .error {
        color: #FF4949;
    }
}


.full {
    width: 100%;
}
.w100 {
    width: 100px;
}


.btn-gray {
    background: #eff2f7;
    color: #888;

    &:hover, &:active, &:focus {
        background: #eaeaea;
        color: #888;
        border-color: rgb(192, 204, 218);
    }
}
.btn-short {
    padding: 8px 15px;
}
.btn-md {
    min-width: 100px;
}

.handle {
    margin-bottom: 20px;
}

.card-header-right {
    float: right;
    color: $primary;
    i{
        font-size: 12px;
        vertical-align: top;
        margin-top: 1px;
        margin-left: 2px;
    }
}
